<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>575694615691-f8bpvissp8p7vi198372blbj14hs0mq5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.575694615691-f8bpvissp8p7vi198372blbj14hs0mq5</string>
	<key>API_KEY</key>
	<string>AIzaSyBN6_6K5CremTOrSqOt5j26Y-CbqqkkU2Y</string>
	<key>GCM_SENDER_ID</key>
	<string>575694615691</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.week8.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>paparrocketchat</string>
	<key>STORAGE_BUCKET</key>
	<string>paparrocketchat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:575694615691:ios:6032e8d83a8e611157108e</string>
</dict>
</plist>